<%- include("partials/header") -%>

<div class="container-fluid">
  <% pageList.forEach(function(page, index, arr) { %>
    <div class="col-lg-8 diary-page">
      <div class="row">
        <div class="col-sm-6">
          <h2 class="date"><%=page.title%></h2>

        </div>
        <% if(!datesPosted.includes(page.dateId)) { %>
          <div class="col-sm-6" align="right">
            <button type="button" class="btn btn-outline-dark" onClick="location.href='../compose/<%=page.dateId%>'">New Entry</button>
          </div>
        <% } else { %>
          <div class="col-sm-6" align="right">
            <button type="button" class="btn btn-outline-dark" onClick="location.href='../compose/<%=page.dateId%>'">Edit Entry</button>
          </div>
        <% } %>

        <div class="prompt-block">
          <h2 class="prompt"><%=page.prompt.quote%></h2>
          <h3 class="attribution"><%=page.prompt.author%></h3>
        </div>
      </div>

        <% page.recentEntries.forEach(function(entry) { %>

          <p class="entry"><%=entry.content%></p>

          <% if(entry.author === id) { %>
            <form class="" action="/delete/<%=entry._id%>" method="post">

              <div align="right">
                <button type="submit" class="delete-btn btn btn-outline-dark">Delete</button>
              </div>
            </form>
          <% } %>

        <% }); %>
        <% if(index !== arr.length-1) { %>
          <hr  />
        <% } %>

    </div>
<%  }); %>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>
<script src="/scripts/delete.js"></script>

<%- include("partials/footer") -%>
